<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>naukri</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Control</display-name>
    <servlet-name>Control</servlet-name>
    <servlet-class>pack1.cnt.Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Control</servlet-name>
    <url-pattern>/Control</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginserv</display-name>
    <servlet-name>Loginserv</servlet-name>
    <servlet-class>pack1.cnt.Loginserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginserv</servlet-name>
    <url-pattern>/Loginserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBGCAdmin</display-name>
    <servlet-name>SelectBGCAdmin</servlet-name>
    <servlet-class>pack1.cnt.SelectBGCAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBGCAdmin</servlet-name>
    <url-pattern>/SelectBGCAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBGCAdmin</display-name>
    <servlet-name>ViewBGCAdmin</servlet-name>
    <servlet-class>pack1.cnt.ViewBGCAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBGCAdmin</servlet-name>
    <url-pattern>/ViewBGCAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logindefault</display-name>
    <servlet-name>Logindefault</servlet-name>
    <servlet-class>pack1.cnt.Logindefault</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logindefault</servlet-name>
    <url-pattern>/Logindefault</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatecandidate</display-name>
    <servlet-name>Updatecandidate</servlet-name>
    <servlet-class>pack1.cnt.Updatecandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatecandidate</servlet-name>
    <url-pattern>/Updatecandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatecandidate2</display-name>
    <servlet-name>Updatecandidate2</servlet-name>
    <servlet-class>pack1.cnt.Updatecandidate2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatecandidate2</servlet-name>
    <url-pattern>/Updatecandidate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCandidate2</display-name>
    <servlet-name>UpdateCandidate2</servlet-name>
    <servlet-class>pack1.dto.UpdateCandidate2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCandidate2</servlet-name>
    <url-pattern>/UpdateCandidate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBGCAdminHandler</display-name>
    <servlet-name>AddBGCAdminHandler</servlet-name>
    <servlet-class>pack1.cnt.AddBGCAdminHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBGCAdminHandler</servlet-name>
    <url-pattern>/AddBGCAdminHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBGCAdminHandler</display-name>
    <servlet-name>ApproveBGCAdminHandler</servlet-name>
    <servlet-class>pack1.cnt.ApproveBGCAdminHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBGCAdminHandler</servlet-name>
    <url-pattern>/ApproveBGCAdminHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBGCHandler2</display-name>
    <servlet-name>ApproveBGCHandler2</servlet-name>
    <servlet-class>pack1.cnt.ApproveBGCHandler2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBGCHandler2</servlet-name>
    <url-pattern>/ApproveBGCHandler2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBGCAdminHandler2</display-name>
    <servlet-name>ApproveBGCAdminHandler2</servlet-name>
    <servlet-class>pack1.cnt.ApproveBGCAdminHandler2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBGCAdminHandler2</servlet-name>
    <url-pattern>/ApproveBGCAdminHandler2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBGCAdminHandler</display-name>
    <servlet-name>ViewBGCAdminHandler</servlet-name>
    <servlet-class>pack1.cnt.ViewBGCAdminHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBGCAdminHandler</servlet-name>
    <url-pattern>/ViewBGCAdminHandler</url-pattern>
  </servlet-mapping>
</web-app>